:root {
    --Moderate-violet: hsl(263, 55%, 52%);
    --Very-dark-grayish-blue: hsl(217, 19%, 35%);
    --Very-dark-blackish-blue: hsl(219, 29%, 14%);
    --White: hsl(0, 0%, 100%);
    --Light-gray: hsl(0, 0%, 81%);
    --Light-grayish-blue: hsl(210, 46%, 95%);
    --barlow-conseded: 'Barlow Semi Condensed', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: grid;
    grid-template-columns: 2fr 300px;
    padding: 5vw 7vw;
    gap: 20px;
    background-color: var(--Light-grayish-blue);
}

.content {
    display: grid;
    gap: 20px;
}

.vertical-card-1 {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
}

.vertical-card-2 {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
}

.card {
    display: flex;
    padding: 28px 32px;
    gap: 12px;
    flex-direction: column;
    border-radius: 10px;
    font-family: var(--barlow-conseded);
    box-shadow: 1px 1px 20px 1px rgba(105, 105, 105, 0.2);;
}

.daniel{
    background-color: var(--Moderate-violet);
    background-image: url("images/bg-pattern-quotation.svg");
    background-repeat: no-repeat;
    background-position: right top;
    color: var(--Light-gray);
}

.jonathan{
    background-color: var(--Very-dark-grayish-blue);
    color: var(--Light-gray);
}

.jonathan p {
    width: 210px;
}

.profile {
    display: flex;
    column-gap: 12px;
    align-items: center;
}

.profile img {
    border-radius: 40px;
}

.card h1 {
    max-width: 100%;
    font-size: clamp(18px, 1vw, 2em);
    line-height: 24px;
}

.card p {
    max-width: 100%;
    opacity: 80%;
    font-size: 13px;
    line-height: 18px
}

.name h1 {
    font-size: clamp(14px,1vw,2em);
}

.name h2 {
    opacity: 50%;
    font-size: clamp(13px, 1vw, 2em);
}

.bg-black{
    background-color: var(--Very-dark-blackish-blue);
    color: var(--Light-gray);
}

.bg-white{
    background-color: var(--White);
    color: var(--Very-dark-grayish-blue);
}

.bg-white .name h1{
    max-width: 100%;
}

.bg-white h1 {
    max-width: 80%;
    line-height: 24px;
}

.bg-white p {
    max-width: 95%;
}

.horizontal-card {
    justify-content: space-between;
}

@media only screen and (max-width: 1020px) {

    .container{
        grid-template-columns: none;
        justify-content: center;
    }

    .vertical-card-1,
    .vertical-card-2{
        grid-template-columns: none;
    }

    .jonathan p {
        width: 100%;
    }

}

.attribution {
    font-size: 11px;
    text-align: center;
    padding: 20px;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}